doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main='/javascripts/main.js',src='/javascripts/require.js')
    //script(src='/javascripts/ng_logic/index.js')
  body
    block content
